<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joinway.yilian.admin.dao.repository.AdvertRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2017-09-22 12:50:38
	-->
	<resultMap id="AdvertGridResultMap" type="com.joinway.yilian.admin.bean.domain.AdvertGrid" extends="com.joinway.yilian.data.dao.mapper.AdvertMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="com.joinway.yilian.data.dao.mapper.AdvertMapper.Base_Column_List" />
		from t_advert where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="com.joinway.yilian.data.dao.mapper.AdvertMapper.ResultMapWithBLOBs">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="AdvertGridResultMap">
		select 
			a.id 
			, a.name 
			, a.description 
			, a.sort 
			, a.image_url 
			, a.article_id 
			, a.delete_status 
			, a.tx_code 
			, a.create_user_id 
			, a.create_by 
			, a.create_date 
			, a.update_user_id 
			, a.update_by 
			, a.update_date 
		from t_advert a 
		where a.delete_status = 1
		<if test="id != null">
			and a.id = #{id}
		</if>
		<if test="name != null and name.trim() != ''">
			and a.name like concat('%', #{name}, '%')
		</if>
		<if test="description != null">
			and a.description = #{description}
		</if>
		<if test="sort != null">
			and a.sort = #{sort}
		</if>
		<if test="image_url != null and image_url.trim() != ''">
			and a.image_url like concat('%', #{image_url}, '%')
		</if>
		<if test="article_id != null">
			and a.article_id = #{article_id}
		</if>
		<if test="tx_code != null and tx_code.trim() != ''">
			and a.tx_code like concat('%', #{tx_code}, '%')
		</if>
		<if test="create_user_id != null">
			and a.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and a.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(a.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(a.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(a.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and a.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and a.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(a.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(a.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(a.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		order by a.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into t_advert 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update t_advert set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from t_advert where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>