<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joinway.yilian.admin.dao.repository.CommentRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2017-09-22 11:35:31
	-->
	<resultMap id="CommentGridResultMap" type="com.joinway.yilian.admin.bean.domain.CommentGrid" extends="com.joinway.yilian.data.dao.mapper.CommentMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="com.joinway.yilian.data.dao.mapper.CommentMapper.Base_Column_List" />
		from t_comment where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="com.joinway.yilian.data.dao.mapper.CommentMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="CommentGridResultMap">
		select 
			c.id 
			, c.content 
			, c.pid 
			, c.delete_status 
			, c.tx_code 
			, c.create_user_id 
			, c.create_by 
			, c.create_date 
			, c.update_user_id 
			, c.update_by 
			, c.update_date 
			, c.root_id 
			, c.article_id 
			, c.article_type 
			, u.nike_name as nickName
			, u.img_url as imgUrl
		from t_comment c 
		left join t_user u
		on c.create_user_id = u.id
		where c.delete_status = 1
		<if test="id != null">
			and c.id = #{id}
		</if>
		<if test="content != null and content.trim() != ''">
			and c.content like concat('%', #{content}, '%')
		</if>
		<if test="pid != null">
			and c.pid = #{pid}
		</if>
		<if test="tx_code != null and tx_code.trim() != ''">
			and c.tx_code like concat('%', #{tx_code}, '%')
		</if>
		<if test="create_user_id != null">
			and c.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and c.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(c.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(c.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(c.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and c.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and c.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(c.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(c.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(c.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		<if test="root_id != null">
			and c.root_id = #{root_id}
		</if>
		<if test="article_id != null">
			and c.article_id = #{article_id}
		</if>
		<if test="article_type != null">
			and c.article_type = #{article_type}
		</if>
		order by c.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into t_comment 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update t_comment set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from t_comment where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>