<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joinway.yilian.admin.dao.repository.SensitiveRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2017-09-22 13:10:16
	-->
	<resultMap id="SensitiveGridResultMap" type="com.joinway.yilian.admin.bean.domain.SensitiveGrid" extends="com.joinway.yilian.data.dao.mapper.SensitiveMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="com.joinway.yilian.data.dao.mapper.SensitiveMapper.Base_Column_List" />
		from t_sensitive where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="com.joinway.yilian.data.dao.mapper.SensitiveMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="SensitiveGridResultMap">
		select 
			s.id 
			, s.sensitive_word 
			, s.delete_status 
			, s.tx_code 
			, s.create_user_id 
			, s.create_by 
			, s.create_date 
		from t_sensitive s 
		where s.delete_status = 1
		<if test="id != null">
			and s.id = #{id}
		</if>
		<if test="sensitive_word != null and sensitive_word.trim() != ''">
			and s.sensitive_word like concat('%', #{sensitive_word}, '%')
		</if>
		<if test="tx_code != null and tx_code.trim() != ''">
			and s.tx_code like concat('%', #{tx_code}, '%')
		</if>
		<if test="create_user_id != null">
			and s.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and s.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(s.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(s.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(s.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		order by s.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into t_sensitive 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update t_sensitive set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from t_sensitive where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>