<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joinway.yilian.admin.dao.repository.UserAuthRepository">
	<!--
		此文件初版由工具生成，仅需生成一次，请定制开发
		生成时间: 2017-09-22 12:33:37
	-->
	<resultMap id="UserAuthGridResultMap" type="com.joinway.yilian.admin.bean.domain.UserAuthGrid" extends="com.joinway.yilian.data.dao.mapper.UserAuthMapper.BaseResultMap">
	</resultMap>

	<sql id="Select">
		select
			<include refid="com.joinway.yilian.data.dao.mapper.UserAuthMapper.Base_Column_List" />
		from t_user_auth where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
		<if test="_orderBy != null and _orderBy.trim() != ''">
			order by #{_orderBy}
		</if>
	</sql>

	<select id="select" parameterType="map" resultMap="com.joinway.yilian.data.dao.mapper.UserAuthMapper.BaseResultMap">
		<include refid="Select"></include>
	</select>
	
	<select id="count" parameterType="map" resultType="long">
		select count(*) from (
		<include refid="Select"></include>
		) t
	</select>

	<select id="selectGrid" parameterType="map" resultMap="UserAuthGridResultMap">
		select 
			ua.id 
			, ua.type 
			, ua.user_name 
			, ua.company_name 
			, ua.phone 
			, ua.card_no 
			, ua.image1 
			, ua.image2 
			, ua.image3 
			, ua.first_check 
			, ua.end_check 
			, ua.reason 
			, ua.check_user 
			, ua.delete_status 
			, ua.tx_code 
			, ua.create_user_id 
			, ua.create_by 
			, ua.create_date 
			, ua.update_user_id 
			, ua.update_by 
			, ua.update_date 
		from t_user_auth ua 
		where ua.delete_status = 1
		<if test="id != null">
			and ua.id = #{id}
		</if>
		<if test="type != null">
			and ua.type = #{type}
		</if>
		<if test="user_name != null and user_name.trim() != ''">
			and ua.user_name like concat('%', #{user_name}, '%')
		</if>
		<if test="company_name != null and company_name.trim() != ''">
			and ua.company_name like concat('%', #{company_name}, '%')
		</if>
		<if test="phone != null and phone.trim() != ''">
			and ua.phone like concat('%', #{phone}, '%')
		</if>
		<if test="card_no != null and card_no.trim() != ''">
			and ua.card_no like concat('%', #{card_no}, '%')
		</if>
		<if test="image1 != null and image1.trim() != ''">
			and ua.image1 like concat('%', #{image1}, '%')
		</if>
		<if test="image2 != null and image2.trim() != ''">
			and ua.image2 like concat('%', #{image2}, '%')
		</if>
		<if test="image3 != null and image3.trim() != ''">
			and ua.image3 like concat('%', #{image3}, '%')
		</if>
		<if test="first_check != null">
			and ua.first_check = #{first_check}
		</if>
		<if test="end_check != null">
			and ua.end_check = #{end_check}
		</if>
		<if test="reason != null and reason.trim() != ''">
			and ua.reason like concat('%', #{reason}, '%')
		</if>
		<if test="check_user != null">
			and ua.check_user = #{check_user}
		</if>
		<if test="tx_code != null and tx_code.trim() != ''">
			and ua.tx_code like concat('%', #{tx_code}, '%')
		</if>
		<if test="create_user_id != null">
			and ua.create_user_id = #{create_user_id}
		</if>
		<if test="create_by != null and create_by.trim() != ''">
			and ua.create_by like concat('%', #{create_by}, '%')
		</if>
		<if test="create_date_from != null">
			and date_format(ua.create_date, '%Y-%m-%d') &gt;= #{create_date_from}
		</if>
		<if test="create_date_to != null">
			and date_format(ua.create_date, '%Y-%m-%d') &lt;= #{create_date_to}
		</if>
		<if test="create_date != null">
			and date_format(ua.create_date, '%Y-%m-%d') = #{create_date}
		</if>
		<if test="update_user_id != null">
			and ua.update_user_id = #{update_user_id}
		</if>
		<if test="update_by != null and update_by.trim() != ''">
			and ua.update_by like concat('%', #{update_by}, '%')
		</if>
		<if test="update_date_from != null">
			and date_format(ua.update_date, '%Y-%m-%d') &gt;= #{update_date_from}
		</if>
		<if test="update_date_to != null">
			and date_format(ua.update_date, '%Y-%m-%d') &lt;= #{update_date_to}
		</if>
		<if test="update_date != null">
			and date_format(ua.update_date, '%Y-%m-%d') = #{update_date}
		</if>
		order by ua.id desc
	</select>

	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into t_user_auth 
		<foreach collection="_this" index="key" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			${key}
			</if>
		</foreach>
		values
		<foreach collection="_this" index="key" item="value" open="(" close=")" separator=",">
			<if test="!key.startsWith('_')">
			if(length(#{value}) = 0, null, #{value})
			</if>
		</foreach>
	</insert>
	
	<update id="update" parameterType="map">
		update t_user_auth set
		<foreach collection="_this" index="key" item="value" open="" close="" separator=",">
		<if test="key != 'id' and !key.startsWith('_')">
			${key} = #{value}
		</if>
		</foreach>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="map">
		delete from t_user_auth where 1
		<foreach collection="_this" index="key" item="value" open="" close="" separator="">
			<if test="!key.startsWith('_')">
				<if test="value == null">
			and ${key} is null
				</if>
				<if test="value != null">
			and ${key} = #{value}
				</if>
			</if>
		</foreach>
	</delete>
</mapper>